[user]
	email = lucas.michaudel@gmail.com
	name = Lucas Michaudel
	signingkey = 596E1879D69D21FA
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[gpg]
	program = gpg
[commit]
	gpgsign = true
[init]
	defaultBranch = main
